
<h1> WELCOME ! 😎</h1>
<p>Tu as choisi le Form_tag ! Pour que l'on puisse te spamer, merci de renseigner les champs ci dessous :</p>

<div class="row justify-content-center">

<div class="col-lg-8">
	<%= form_tag '/form_tag', method: "post" do %>

		<div class="form-group">
			<%= label_tag(:username, "Ton pseudo :") %><!-- label associé à l'input du même non -->
			<%= text_field_tag(:username, nil, { class: 'form-control' }) %><!-- génère un input type text (champ de formulaire -->
		</div>

		<div class="form-group">
			<%= label_tag(:email, "Ton email :") %>
			<%= email_field_tag(:email, nil, { class: 'form-control' }) %>
		</div>

		<div class="form-group">
			<%= label_tag(:bio, "Bio") %>
			<%= text_area_tag(:bio, nil , { rows: 7, class: 'form-control' } ) %>
		</div>

		<%= submit_tag("Envoyer", class: 'btn btn-primary') %>

	<% end %>
</div>
</div>